body {
	margin: 0;
}
section {
	display: flex;
	flex-direction: row;
}
div {
	height: 100vh;
}
#left{
	background-image: url(Images/quadro.jpg);
	background-size: cover;
	background-color: brown;

	width: 40vw;
}
#title{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 20vh;
	position: relative;
	top: 100px;

	background-color: rgba(52, 45, 45, 0.65);
	color: rgb(255, 240, 240);
}

#right{
	background-color: rgb(18, 4, 4);
	width: 60vw;
}

#right > h1 {
	color: wheat;
}

form {
	background-color: cadetblue;
}