body {
	margin: 0;
}

section {
	display: flex;
	flex-direction: row;
}

#left{
	width: 60vw;
	width: 40vw;

	background-color: brown;
	background-image: url(Images/quadro.jpg);
	background-size: cover;
}

#right{
	height: 100vh;
	width: 60vw;
	background-color: rgb(18, 4, 4);
}

#title{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 20vh;
	position: relative;
	top: 100px;

	background-color: rgba(52, 45, 45, 0.65);
	color: rgb(255, 240, 240);
}

ul.form {
	display: flex;
	justify-content: space-around;
}
.text {
	color: wheat;
}

form {
	background-color: cadetblue;
}

li {
	list-style-type: none
}